<form id=getheatmap action="">
	<table class=form>
		<tr>
			<td>
				<label for=tabla>tabla:</label>
			</td>
			<td>
				<select type=text id=tabla name=tabla value="emas_sinarame" />
			</td>
		</tr>
		<tr>
			<td>
				<label for=varId>varId:</label>
			</td>
			<td>
				<select type=integer id=varId name=varId value=31 />
			</td>
		</tr>
		<tr>
			<td>
				<label for={{timespan.name}}>{{timespan.name}}:</label>
			</td>
			<td>
				<input type={{timespan.type}} id={{timespan.name}} name={{timespan.name}} value="{{timespan.default}}" />
			</td>
		</tr>
		<tr>
			<td colspan=2>
				<button type=submit >Cargar datos</button>
			</td>
		</tr>
	</table>
</form>
